* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    position: relative;
}
body {
    background: #ffffff;
    font-family: 'Ubuntu', 'Oxygen', sans-serif;
    color: #000000;
}
header {
    margin: 25px 0;
}
table, th, td{
    border: 3px groove #000000;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: large;
    width: fit-content;
}
.HeaderText{
    font-size: 20px;
    font-weight: bolder;
    margin: 0 0 0 6vw;
    position: inherit;
}
.Center{
    margin: 0 0;
    display: flex;
    justify-content: center;
}
.ScoreText{
    font-size: x-large;
    font-weight: bolder;
}
.PenaltyText{
    font-size: small;
}
.TimeText{
    font-weight: 800;
}
.TryText{
    font-size: smaller;
}
.AC{
    background-color: #60e760;
}
.WA{
    background-color: #e87272;
}