* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    position: relative;
}
body {
    background: #B8E8FC;
    font-family: 'Ubuntu', 'Oxygen', sans-serif;
    color: #000000;
}
header {
    display: flex;
    height: 8vh;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid black;
}
th, td{
    padding: 10px;
    text-align: center;
    width: auto;
}
table, td{
    font-size: large;
}
th{
    font-weight: bold;
    font-size: x-large;
}
table tr:first-child th {
    border-top: 0;
}
table tr td:first-child, table tr th:first-child {
    border-left: 0;
}
table tr td:last-child, table tr th:last-child {
    border-right: 0;
}
.HeaderText{
    font-size: 30px;
    font-weight: bolder;
    margin: 1vh 0 0 6vw;
    position: inherit;
}
.Center{
    margin: 10vh 0;
    display: flex;
    justify-content: center;
}
.RankText{
    font-size: x-large;
    font-weight: bolder;
}
.TeamText{
    text-align: left;
}
.TeamNameText{
    font-size: larger;
    font-weight: bold;
}
.TeamIdText{
    font-size: medium;
}
.ScoreText{
    font-size: x-large;
    font-weight: bolder;
}
.PenaltyText{
    font-size: medium;
}
.TimeText{
    font-weight: 800;
}
.TryText{
    font-size: smaller;
}
.LegendText{
    font-size: large;
    font-weight: bolder;
}
.AC{
    background-color: #64fb78;
}
.WA{
    background-color: #d76666;
}
@media only screen and (max-width: 768px){
    table, th, td{
        padding: 5px;
    }
    table, td{
        font-size: small;
    }
    th{
        font-size: large;
    }
    .HeaderText{
        font-size: 24px;
        font-weight: bold;
    }
    .RankText{
        font-size: larger;
    }
    .TeamNameText{
        font-size: medium;
    }
    .TeamIdText{
        font-size: small;
    }
    .ScoreText{
        font-size: larger;
        font-weight: bold;
    }
    .PenaltyText{
        font-size: small;
    }
    .TimeText{
        font-weight: 600;
    }
    .TryText{
        font-size: x-small;
    }
}